.header {
  height: 34vw;
  margin: 30px auto;
  background: url('https://i.imgur.com/kaSyxLZ.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  border-radius: 15px 15px 15px 15px;
  /* Чтобы псевдоэлемент оставался внутри родителя */
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit; /* Наследуем фон, чтобы его размыть */
  background-size: cover;
  background-position: center;
  z-index: 1;
  border-radius: 15px 15px 15px 15px;
  filter: blur(8px); /* Размытие */

  /* Чтобы быть над фоном, но под контентом */
}

.header::after {
  filter: blur(8px); /* Размытие */

  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачное затемнение */
  z-index: 2;
  border-radius: 15px 15px 15px 15px;
  /* Чтобы затемнение было над размытым фоном, но под текстом */
}

.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 10%;
  left: 6vw;
  animation: fadeIn 3s;
  z-index: 3; /* Контент будет поверх всего */
}

.header-contents h2 {
  font-weight: 500;
  color: white;
  text-shadow: 1px 2px 2px black;
  font-size: max(4.5vw, 22px);
}

.header-contents p {
  color: white;
  text-shadow: 1px 2px 2px black;
  font-size: 1vw;
}

.header-contents button {
  border: none;
  color: #747474;
  font-weight: 500;
  padding: 1vw 2.3vw;
  background-color: white;
  font-size: max(1vw, 13px);
  border-radius: 50px;
  cursor: pointer;
}

:root .buttonwl {
  color: black;
}

.lightcolors .buttonwl {
  color: #747474;
}

@media (max-width: 1050px) {
  .header-contents {
    max-width: 45%;
  }
}

@media (max-width: 750px) {
  .header-contents {
    max-width: 65%;
  }
  .header-contents p {
    display: none;
  }
  .header-contents button {
    padding: 2vw 4vw;
  }
}
